#include <iostream>

using namespace std;
int main() {
  cout << "Введите число: ";
  string a;
  int b;
  cin >> a;
  cout << "Сколько разрядов показать? ";
  cin >> b;
  for (int i = 0; i < b; i++) {
    cout << a[i];
  }
}
